.search-games-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    border-bottom: 2px solid #011627;
}

.search-games-wrapper input {
    width: 85%;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 18px;
    position: relative
}

.search-games-wrapper button {
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;

}

.icon {
    position: absolute;
    right: 10%
}