.navbar {
  width: 100%;
  border-bottom: 1px solid #C8BFC7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011627;
  color: #FDFFFC
}

.inner-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 10px
}

.inner-nav h1 {
  margin: 0;
  font-size: 40px
}

.icon {
  font-size: 30px;
  margin-right: 5px
}

.logo {
  color: #FDFFFC;
  margin: 5px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  }

  .logo h1 {
    
  }
  
  .nav-links-wrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-right: 10px
  }
  

.hamburger {
    cursor: pointer;
    
} 


.hamburger div {
    width: 35px;
    height: 5px;
    background-color:#FB8B24;
    margin: 5px 
}